<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

<!--     <link rel="stylesheet" href="/style.css" /> -->
    
        
    <style>
      body{
        font-family:monospace, courier;
      }
      img{
        margin:10px;
        height:150px;
      }
      .bar-link{
        display:inline-block;
        margin:15px;
        padding:15px;
        background-color: tomato;
      }

      #wrapper{
       margin-top:2%; 
      }
    
    </style>
    
  <script>
      let del = false;
      
      document.addEventListener("keydown", function(event){
        if(event.key === "q"){
          del = true;
        }
        console.log("del: "+del);
      });
      document.addEventListener("keyup", function(event){
        del = false;
        console.log("del: "+del);
      });
      
      async function loadJSON() {
        try{
          const response = await fetch('files.json'); 
          if (!response.ok) throw new Error("Failed to fetch JSON");
          const data = await response.json();
          console.log(data);
          let objTo = document.getElementById('wrapper');
         
          for(let i=0;i<data.length;i++){  
            let img = document.createElement("img");
            img.src = `.data/${data[i]}.gif`;
            img.id = i;
            
            img.onclick = async () => {
              if(del==true){
                let pack = {num : img.id}
                try{
                  const response = await fetch("/del_img",{
                    method: "POST",
                    headers: { "Content-Type": "application/json"},
                    body: JSON.stringify(pack)
                  });
                  if (response.redirected) {
                    window.location.href = response.url; // Redirect to the new page
                  }
                }catch (error){
                    console.error("Error deleting image:", error);
                }
              }
              
            };
           // img.width = 150;
            objTo.appendChild(img);
          }
        }catch (error) {
                console.error("Error loading JSON:", error);
        }
      }
      loadJSON();
    </script>   
    
    
  </head>
  <body>

  <div id="top-bar">
    <a href="../">
      <div class="bar-link">
        HOME
      </div>
    </a>
    <a href="/archive">
      <div class="bar-link" style="float:right;">
        RELOAD
      </div>
    </a>
  </div>
    
  <div id="wrapper">


  </div>

  </body>
</html>