<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">
  
    
    <style>
      body{
        background-color: azure;
        text-align:center;
        font-family:sans-serif;
      }
      a{
        text-decoration:none;
      }
      .title{
        margin:auto;
        margin-top:5%;
        padding:5%;
        color:orange;
        width:50%;
        background-color:darkcyan;
        font-size:2em;
      }
      .page-link{
        display: inline-block;
        margin:auto;
        margin-top:5%;
        padding:5%;
        color:indigo;
        width:10%;
        background-color:orange;
        font-size:1.5em;
      }
      #wrapper{
        padding:10%;
      }
    </style>
    
  </head>
  <body>
    <div id="wrapper">
      <div class="title">
        Handmade GIF Workshop
      </div>

      <a href="./archive">
      <div class="page-link">
        View
      </div></a>
      <a href="./editor">
      <div class="page-link">
        Make
        </div></a>
      <a href="./examples">
      <div class="page-link">
        Examples
      </div></a>
    </div>
  </body>
</html>
